.rootStyle {
  display: inline-flex;
  align-items: center;
  background-color: var(--grey-light);
  padding: 12px 24px;
  text-align: center;
  border-radius: 12px;
}

.icon {
  margin-right: 8px;
}
