.root {
  --line: linear-gradient(var(--grey),var(--grey));
  --half-line: 50%;
  --text-width: var(--separator-text-length) / 2;
  --text-margin: 16px;

  height: 1px;
  border:none;
  background: var(--line) left, var(--line) right;
  background-size: calc(var(--half-line) - var(--text-width) - var(--text-margin));
  background-repeat:no-repeat;
  color: var(--grey);
  overflow: visible;
  text-align: center;
}

.root::before {
  background: var(--background);
  content: var(--separator-text);
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  top: -10px;
}
