.titleContainer {
  text-align: center;
}

.description {
  margin-top: 16px;
}

.separatorContainer {
  margin-bottom: 128px;

  &:not(:first-child) {
    margin-top: 128px;
  }

  @media (width <= 768px) {
    margin-bottom: 96px;

    &:not(:first-child) {
      margin-top: 96px;
    }
  }

  @media (width <= 375px) {
    margin-bottom: 64px;

    &:not(:first-child) {
      margin-top: 64px;
    }
  }
}